html, body {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: Arial;
}
* {
    color:blue;
    margin: 0; 
}
footer {
    color: white;
    text-align: center;
    padding: 0.5vw;
    margin-top:100;
    text-align:center;
}